@model TourProgTemp

<script src="~/Asset/js/Tourtemplate/EditTourProgTempControl.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h4 class="modal-title text-uppercase">Mô tả hành trình</h4>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool dong"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <form id="frmEditHanhtrinhProgTemp">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Code" />
                        <input type="hidden" asp-for="stt" />
                        <fieldset class="groupbox-border">
                            <legend class="groupbox-border">Hành trình</legend>
                            <div class="form-group col-md-6 ">
                                <label class="control-label">Từ</label>
                                <select id="ddlhanhtrinhtu" asp-for="tour_item" asp-items="@ViewBag.hanhtrinhtu" class="form-control select2" style="width:100%"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Đi đến</label>
                                <select id="ddlhanhtrinhden" asp-for="srvnode" asp-items="@ViewBag.hanhtrinhden" class="form-control select2" style="width:100%"></select>
                            </div>
                            <div class="col-md-12">
                                <input type="button" class="btn btn-primary" id="btCapnhatHanhtrinhTourProgTemp" value="Cập nhật" />
                                <button class="btn btn-default dong">Hủy</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>