@model Tourprog

    <script src="~/Asset/js/Tour/EditTourProgControl.js"></script>

@{
    Layout = null;
}
<form id="frmConfirmXoadichvu" method="post" asp-action="DelTourSrvProg" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-gray">                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
                <div class="modal-title">Huỷ dịch vụ @Model.sgtcode</div>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" id="txtId_confirm" />
                Xoá dịch vụ @Model.srvtype này?

            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Đồng ý" />
                <button type="reset" class="btn btn-default" data-dismiss="modal">Huỷ</button>
            </div>

        </div>
    </div>
</form>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
