@model Tuyentq

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <h1>
        Cập nhật tuyến tham quan
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a href="@Context.Session.GetString("urlTuyentq")">Danh sách tuyến tham quan</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-body">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Tuyen" class="form-control" id="txtTuyentq" type="text" />
                        <input asp-for="Tentuyen" class="form-control" id="txtTenTuyen" type="hidden" />
                        <div class="form-group col-md-2">
                            <label class="control-label">Code</label>
                            <input asp-for="Code" class="form-control text-center" readonly />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-10">
                            <label class="control-label">Tuyến tham quan</label>
                            @*<select asp-items="@ViewBag.diemtq" asp-for="Tuyen" multiple="multiple" class="form-control select2" style="width: 100%;" id="ddlTuyen" data-placeholder="Chọn tuyến tham quan"></select>*@
                            <select asp-items="@ViewBag.diemtq" asp-for="Tuyen" multiple="multiple" class="form-control select2" style="width: 100%;" id="ddlTuyen" data-placeholder="Chọn tuyến tham quan"></select>
                            @*<input  type="text" asp-for="Tuyen" class="form-control" />*@ 
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                            <a href="@Context.Session.GetString("urlTuyentq")" class="btn btn-default">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(function () {
            $('.select2').select2();
       });
       $('#ddlTuyen').on('change', function () {
           var selectedValues = $('#ddlTuyen').val();
           $('#txtTuyentq').val(selectedValues);
           var text = $('#ddlTuyen option:selected').toArray().map(item => item.text).join();
           $('#txtTenTuyen').val(text);
       });

    </script>
}

