@model Tourkind

@{
    ViewData["Title"] = "Create";
}

    <section class="content-header">
        <h1>
            Thêm loại tour
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active"><a href="/Tourkind">danh sách loại tour</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group col-md-2">
                                <label asp-for="Id" class="control-label">Id</label>
                                <input asp-for="Id" class="form-control text-center" readonly />
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-10">
                                <label class="control-label">Tên loại tour</label>
                                <input asp-for="TourkindInf" class="form-control text-uppercase" />
                                <span asp-validation-for="TourkindInf" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" value="Thêm" class="btn btn-primary"/>
                                <a href="/Tourkind" class="btn btn-default">Hủy</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
